@media screen and (min-width:300px) and (max-width:576px) {
    nav{
        margin: 20px 20px;
    }
    nav ul{
        display: none;
    } 
    .free-button{
        padding: 5px 15px;
        font-size: 13px;
    }
    /* banner code start here */
    .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 40px 20px;
        gap: 20px;
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        margin-top: 20px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    /* about section code start here */
    .about-parent{
        display: block;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
        text-align: center;
    }
    .about-text h2{
        font-size: 28px;
    }
    .about-img img{
        width: 100%;
        margin-bottom: 50px;
    }
    /* service section code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    }
    /* Analysis section code start here */
    .analysis-parent{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
        gap: 60px;
        margin: 0 20px;
        text-align: center;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 15px;
    }
    .analysis-img img{
        width: 100%;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: none;
    }
    .block-items{
        display: block;
    }
    .block-items-1{
        display: none;
    }
     /* banner code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-img img{
        width: 400px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 17px 0;
        font-size: 25px;
    }
    .banner-text p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    /* about section code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 300px;
    }
    .about-text h4{
        font-size: 16px;
    }
    .about-text h2{
        font-size: 28px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 1px;
    }
    /* service section code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 35px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     /* Analysis section code start here */
     .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 12px;
        margin: 18px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 13px;
    }
    .analysis-img img{
        width: 250px;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: none;
    }
    .block-items{
        display: block;
    }
    .block-items-1{
        display: block;
    }
     /* banner code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-img img{
        width: 480px;
    }
    .banner-text{
        margin-top: 40px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    /* about section code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 350px;
    }
    .about-text h4{
        font-size: 16px;
    }
    .about-text h2{
        font-size: 28px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 16px;
    }
    /* service section code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 35px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    /* Analysis section code start here */
    .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 15px;
        margin: 18px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 13px;
    }
    .analysis-img img{
        width: 340px;
    }
}
@media screen and (min-width:993px) and (max-width:1200px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: flex;
    }
     /* banner code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-text h3{
        font-size: 22px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .banner-img img{
        width: 650px;
    }
    /* about section code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 500px;
    }
    .about-text h2{
        font-size: 32px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 17px;
    }
    /* service section code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
        gap: 5px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     /* Analysis section code start here */
     .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 17px;
        margin: 20px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 16px;
    }
    .analysis-img img{
        width: 450px;
    }
}