@media screen and (min-width:300px) and (max-width:576px) {
    nav{
        margin: 20px 20px;
    }
    nav ul{
        display: none;
    } 
    .free-button{
        padding: 5px 15px;
        font-size: 13px;
    }
    /* banner code start here */
    .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 40px 20px;
        gap: 20px;
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        margin-top: 20px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    /* about section code start here */
    .about-parent{
        display: block;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
        text-align: center;
    }
    .about-text h2{
        font-size: 28px;
    }
    .about-img img{
        width: 100%;
        margin-bottom: 50px;
    }
    /* service section code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    }
    /* Analysis section code start here */
    .analysis-parent{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
        gap: 60px;
        margin: 0 20px;
        text-align: center;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 15px;
    }
    .analysis-img img{
        width: 100%;
    }
    /* quote section code start here */
    .quote-items{
        padding: 50px 0;
    }
    .quote-items input{
        width: 90%;
    }
    .Quote-button{
        margin-top: 20px;
    }
    /* contact section responsive code start here */
    .contact-title-parent{
        gap: 0;
    }
    .contact-title-img img{
       display: none;
    }
    /* contact section items responsive code start here */
    .contact-parent{
        display: block;
        gap: 50px;
        width: 90%;
    }
    .contact-maps iframe{
        width: 100%;
    }
    .contact-text-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 20px 0 30px 0;
        text-align: center;
    }
    /* contact input and input */
    .contact-input-parent{
        display:block;
    }
    .contact-input-items input{
        width: 90%;
    }
    .textarea-parent textarea{
        width: 100%;
        margin-bottom: 20px;
    } 
    /* footer section responsive code start here  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 20px;
        padding: 20px 0;
        color: #fff;
        text-align: center;
        gap: 30px;
    }
    /* footer first items start here */
    .footer-items-1{
        display: none;
    }
    /* footer second items start here */
.footer-items-2{
   display: none;
}
    /* footer fourth items start here  */
    .input-parent input{
        width: 100%;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: none;
    }
    .block-items{
        display: block;
    }
    .block-items-1{
        display: none;
    }
     /* banner code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-img img{
        width: 400px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 17px 0;
        font-size: 25px;
    }
    .banner-text p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    /* about section responsive code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 300px;
    }
    .about-text h4{
        font-size: 16px;
    }
    .about-text h2{
        font-size: 28px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 1px;
    }
    /* service section responsive code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 35px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     /* Analysis section responsive code start here */
     .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 12px;
        margin: 18px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 13px;
    }
    .analysis-img img{
        width: 250px;
    }
    /* quote section responsive code start here */
    .quote-items{
        padding: 80px 0;
    }
    .quote-items input{
        width: 60%;
    }
     /* contact section responsive code start here */
    .contact-title-parent{
        gap: 0;
    }
    .contact-title-img img{
       width: 100%;
    }
    /* contact section items responsive code start here */
    .contact-parent{
        display: block;
        gap: 50px;
        width: 90%;
    }
    .contact-maps iframe{
        width: 100%;
    }
    .contact-text-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        margin: 20px 0 30px 0;
        text-align: center;
    }
    /* contact input and input */
    .contact-input-parent{
        display:block;
    }
    .contact-input-items input{
        width: 90%;
    }
    .textarea-parent textarea{
        width: 100%;
        margin-bottom: 20px;
    } 
    /* footer section responsive code start here  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 20px;
        padding: 20px 0;
        color: #fff;
        gap: 40px;
    }
    /* footer first items start here */
    .footer-items-1{
        width: 100%;
    }
    /* footer second items start here */
.footer-items-2{
   display: none;
}
    /* footer fourth items start here  */
    .input-parent input{
        width: 100%;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: none;
    }
    .block-items{
        display: block;
    }
    .block-items-1{
        display: block;
    }
     /* banner responsive code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-img img{
        width: 480px;
    }
    .banner-text{
        margin-top: 40px;
    }
    .banner-text h3{
        font-size: 17px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    /* about section responsive code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 350px;
    }
    .about-text h4{
        font-size: 16px;
    }
    .about-text h2{
        font-size: 28px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 16px;
    }
    /* service section responsive code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 35px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    /* Analysis section responsive code start here */
    .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 15px;
        margin: 18px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 13px;
    }
    .analysis-img img{
        width: 340px;
    }
     /* quote section responsive code start here */
     .quote-items{
        padding: 80px 0;
    }
    .quote-items input{
        width: 60%;
    }
     /* contact section responsive code start here */
     .contact-title-parent{
        gap: 20px;
    }
    .contact-title-img img{
       width: 100%;
    }
    /* contact section items responsive code start here */
    .contact-parent{
        display: flex;
        gap: 20px;
        width: 100%;
        padding-top: 30px;
    }
    .contact-maps iframe{
        width: 100%;
    }
    .contact-text-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin: 20px 0 30px 0;
        text-align: center;
    }
    .contact-text h2{
        font-size: 16px;
    }
    /* contact input and input */
    .contact-input-parent{
        display:flex;
    }
    .contact-input-items input{
        width: 90%;
    }
    .textarea-parent textarea{
        width: 100%;
        margin-bottom: 20px;
    }
    /* footer section responsive code start here  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 20px;
        padding: 20px 0;
        color: #fff;
    }
    /* footer first items start here */
    .footer-items-1{
        width: 100%;
    }
    /* footer fourth items start here  */
    .input-parent input{
        width: 100%;
    }
}
@media screen and (min-width:993px) and (max-width:1200px) {
    nav{
        margin: 20px 20px;
    }
    nav ul li{
        display: flex;
    }
     /* banner responsive code start here */
     .banner-parents{
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 40px 20px;
        gap: 20px;
    }
    .banner-text h3{
        font-size: 22px;
    }
    .banner-text h1{
        margin: 10px 0 25px 0;
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .banner-img img{
        width: 650px;
    }
    /* about section responsive code start here */
    .about-parent{
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 20px;
    }
    .about-img img{
        width: 500px;
    }
    .about-text h2{
        font-size: 32px;
        margin: 7px 0 20px 0;
    }
    .about-text p{
        font-size: 17px;
    }
    /* service section responsive code start here */
    .service-title h2{
        margin: 0 10px;
        font-size: 32px;
    }
    .service-parent{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
        gap: 5px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
     /* Analysis section responsive code start here */
     .analysis-parent{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 40px;
        margin: 0 20px;
    }
    .analysis-text p{
        font-size: 17px;
        margin: 20px 0;
    }
    .analysis-ul ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 8px;
    }
    .analysis-ul li{
        font-size: 16px;
    }
    .analysis-img img{
        width: 450px;
    }
    .quote-items{
        padding: 80px 0;
    }
    .quote-items input{
        width: 60%;
    }
    /* contact section responsive code start here */
    .contact-title-parent{
        gap: 20px;
    }
    .contact-title-img img{
       width: 100%;
    }
    /* contact section responsive items code start here */
    .contact-parent{
        display: flex;
        gap: 40px;
        padding-top: 30px;
    }
    .contact-maps iframe{
        width: 100%;
    }
    .contact-text-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin: 20px 0 30px 0;
        text-align: center;
    }
    .contact-text h2{
        font-size: 16px;
    }
    /* contact input and input */
    .contact-input-parent{
        display:flex;
    }
    .contact-input-items input{
        width: 90%;
    }
    .textarea-parent textarea{
        width: 100%;
        margin-bottom: 20px;
    }
    /* footer section responsive code start here  */
    .footer-parent{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 20px;
        padding: 20px 0;
        color: #fff;
    }
    /* footer first items start here */
    .footer-items-1{
        width: 100%;
    }
    /* footer fourth items start here  */
    .input-parent input{
        width: 100%;
    }
}