*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
/* nav code start here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px;
}
.nav-ul-button-parent{
    display: flex;
    align-items: center;
    gap: 38px;
}
nav ul{
    display: flex;
    gap: 38px;
}
nav ul li{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
nav ul li:hover{
    color: #ff7675;
}
.free-button{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ff6b6b;
    color: #ff6b6b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.free-button:hover{
   background-color: #ff7675;
    color: #fff;
}
/* banner code start here */
.banner-parents{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 40px 70px;
    gap: 20px;
}
.banner-text h3{
    color: #f56161;
    font-weight: 800;
    font-size: 22px;
}
.banner-text h1{
    margin: 10px 0 25px 0;
    font-size: 55px;
    font-weight: 800;
    color: rgb(32, 32, 32);
}
.banner-text p{
    font-size: 17px;
    line-height: 1.3;
    font-weight: 500;
    color: rgb(90, 89, 89);
    margin-bottom: 40px;
}
.free-button-1{
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid #f56161;
    color: #f56161;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.free-button-1:hover{
   background-color:#f56161;
    color: #fff;
}
.banner-img img{
    width: 650px;
}
/* about section code start here */
.about-sction{
    width: 100%;
    margin: 100px 0;
}
.about-parent{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin: 0 70px;
}
.about-text h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.about-text h2{
    font-size: 34px;
    color: rgb(32, 32, 32);
    font-weight: 800;
    margin: 7px 0 30px 0;
}
.about-text span{
    color: #fc5757;
}
.about-text p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(153, 151, 151);
    line-height: 1.7;
}
.about-img img{
    width: 600px;
}
/* service section code start here */
.service-section{
    width: 100%;
    margin-bottom: 80px;
}
.service-title{
    text-align: center;
    margin-bottom: 60px;
}
.service-title h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.service-title h2{
    font-size: 36px;
    color: rgb(32, 32, 32);
    font-weight: 800;
    margin-top: 7px;
}
.service-title span{
    color: #fc5757;
}
/* service section card code start here */
.service-parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    gap: 5px;
    width: 950px;
    margin: 0 auto;
    text-align: center;
}
.service-text{
    margin-top: 15px;
}
.service-text h2{
    font-size: 24px;
}
/* Analysis section code start here */
.analysis-section{
    width: 100%;
    margin: 140px 0 90px 0;
}
.analysis-parent{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 100px;
    margin: 0 70px;
}
.analysis-text h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.analysis-text p{
    font-size: 17px;
    line-height: 1.3;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin: 20px 0;
}
.analysis-ul ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15px;
}
.analysis-ul li{
    list-style: none;
    font-weight: 700;
    font-size: 15px;
    color: rgb(61, 61, 61);
}
.analysis-ul li i{
    font-size: 18px;
    margin-right: 8px;
    color: #6c5ce7;
}
.analysis-img img{
    width: 470px;
}
/* quote section code start here */
.quote-section{
    background-image: url(./images/quote-bg-v2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
}
.quote-items{
    text-align: center;
    padding: 100px 0;
    color: #fff;
}
.quote-items h4{
    font-size: 18px;
    font-weight: 600;
}
.quote-items h2{
    font-size: 38px;
    margin-bottom: 30px;
}
.quote-items input{
    width: 380px;
    padding: 13px 18px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(80, 79, 79);
}
.Quote-button{
    padding: 13px 10px;
    color: #fff;
    background-color: #f56161;
    border-radius: 10px;
    border: 1px solid rgb(80, 79, 79);
}
/* contact section code start here */
.contact-section{
    width: 100%;
    margin-bottom: 80px;
}
.contact-title-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.contact-title{
    text-align: center;
    margin-bottom: 60px;
}
.contact-title h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.contact-title h2{
    font-size: 36px;
    color: rgb(32, 32, 32);
    font-weight: 800;
    margin-top: 7px;
}
.contact-title span{
    color: #fc5757;
}
.contact-title-img{
    width: 110px;
}
/* contact section items code start here */
.contact-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}
.contact-maps iframe{
    width: 400px;
}
.contact-text-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 20px 0 30px 0;
    text-align: center;
}
.contact-text h2{
    margin-top: 10px;
    font-size: 22px;
}
/* contact input code start */
.contact-input-parent{
    display:flex;
}
.contact-input-items input{
    width: 400px;
    padding: 15px 10px;
    margin: 0 25px 30px 0;
    border: none;
    background-color: transparent;
    outline: none;
}
.contact-input-items input:hover{
    outline: 1px solid grey;
}
.textarea-parent textarea{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
}
.textarea-parent textarea:hover{
    outline: 5px solid rgba(63, 63, 128, 0.336);
}
.contact-button{
    width: 100%;
    padding: 12px 0;
    border: 2px solid #f56161;
    border-radius: 30px;
    font-size: 18px;
}
/* footer section code start here */
footer{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.082)), url(./images/quote-bg-v2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.footer-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 70px;
    padding: 20px 0;
    color: #fff;
}
.footer-parent h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* footer first items start here */
.footer-items-1{
    width: 230px;
}
.footer-items-1 h4{
    font-size: 14px;
}
.footer-items-1 p{
    font-size: 12px;
    margin-top: 5px;
}
hr{
    border-bottom: 0;
    margin: 10px 0;
}
/* footer second items start here */
.footer-items-2 ul li{
    list-style: none;
    margin-bottom: 8px;
}
/* footer fourth items start here */
.footer-items-3 p{
    font-weight: 300;
}
.input-parent{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}
.input-parent input{
    width: 250px;
    border: 2px solid #f56161;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 30px;
}
.footer-button{
    background-color: #f56161;
    color: #fff;
    padding: 13px;
    border-radius: 30px;
    border: none;
}
.footer-icon i{
    font-size: 22px;
    margin-right: 10px;
    background-color: #ff6b6b;
    padding: 8px;
    border-radius: 50%;
}
.footer-icon i:nth-child(1){
    padding: 8px 12px;
}
.copy{
    text-align: center;
    color: #fff;
   padding: 5px 0 10px 0;
    font-size: 14px;
}