*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
/* nav code start here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px;
}
.nav-ul-button-parent{
    display: flex;
    align-items: center;
    gap: 38px;
}
nav ul{
    display: flex;
    gap: 38px;
}
nav ul li{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
nav ul li:hover{
    color: #ff7675;
}
.free-button{
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ff6b6b;
    color: #ff6b6b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.free-button:hover{
   background-color: #ff7675;
    color: #fff;
}
/* banner code start here */
.banner-parents{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 40px 70px;
    gap: 20px;
}
.banner-text h3{
    color: #f56161;
    font-weight: 800;
    font-size: 22px;
}
.banner-text h1{
    margin: 10px 0 25px 0;
    font-size: 55px;
    font-weight: 800;
    color: rgb(32, 32, 32);
}
.banner-text p{
    font-size: 17px;
    line-height: 1.3;
    font-weight: 500;
    color: rgb(90, 89, 89);
    margin-bottom: 40px;
}
.free-button-1{
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid #f56161;
    color: #f56161;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.free-button-1:hover{
   background-color:#f56161;
    color: #fff;
}
.banner-img img{
    width: 650px;
}
/* about section code start here */
.about-sction{
    width: 100%;
    margin: 100px 0;
}
.about-parent{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin: 0 70px;
}
.about-text h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.about-text h2{
    font-size: 34px;
    color: rgb(32, 32, 32);
    font-weight: 800;
    margin: 7px 0 30px 0;
}
.about-text span{
    color: #fc5757;
}
.about-text p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(153, 151, 151);
    line-height: 1.7;
}
.about-img img{
    width: 600px;
}
/* service section code start here */
.service-section{
    width: 100%;
    margin-bottom: 80px;
}
.service-title{
    text-align: center;
    margin-bottom: 60px;
}
.service-title h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.service-title h2{
    font-size: 36px;
    color: rgb(32, 32, 32);
    font-weight: 800;
    margin-top: 7px;
}
.service-title span{
    color: #fc5757;
}
/* service section card code start here */
.service-parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    gap: 5px;
    width: 950px;
    margin: 0 auto;
    text-align: center;
}
.service-text{
    margin-top: 15px;
}
.service-text h2{
    font-size: 24px;
}
/* Analysis section code start here */
.analysis-section{
    width: 100%;
    margin-bottom: 100px;
}
.analysis-parent{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 100px;
    margin: 0 70px;
}
.analysis-text h4{
    color: #f56161;
    font-size: 20px;
    font-weight: 700;
}
.analysis-text p{
    font-size: 17px;
    line-height: 1.3;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin: 20px 0;
}
.analysis-ul ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15px;
}
.analysis-ul li{
    list-style: none;
    font-weight: 700;
    font-size: 15px;
    color: rgb(61, 61, 61);
}
.analysis-ul li i{
    font-size: 18px;
    margin-right: 8px;
    color: #6c5ce7;
}
.analysis-img img{
    width: 470px;
}